body {
    background-color: rgb(133, 202, 133);
    color: black;
    font-family: Arial;
}

h2 {
    font-family: 'Times New Roman';
}

body.modo-escuro {
    background-color: rgb(0, 85, 0);
    color: white;
}

.escondido {
    display: none;
}